body {
  padding-top: 40px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  background: #eee;
}

#intro{
	text-align: left;
	font-size: 17px;
}

.hasBorder{
    width:75%;
    height: 75%;
    border: 3px solid #000000;
}